/* Cyberpunk Waifus by Isaac B, Free for personal use */
@font-face {
	font-family: cyberpunk-waifus;
	src: url(fonts/cyberpunk_waifus.ttf);
}

body {
	background-color: black;
}

#stage {
	background-color: hsl(0, 0%, 9%);

	width: 1500px;
	height: 800px;

	margin: auto;
	margin-top: 5vh;

	position: relative;
}

.background {
	position: absolute;
}

#fade {
	position: absolute;

	width: 100%;
	height: 100%;

	background-color: black;

	display: none;
}

/* --- MENU PAGE --- */

#title {
	position: absolute;

	width: 50%;
	left: 24%;
}

.menu-button {
	position: absolute;

	height: 25%;
	width: 25%;

	background-image: url(images/menu-button.png);
	background-size: contain;
	background-repeat: no-repeat;

	cursor: pointer;
}

.menu-button:hover {
	filter: brightness(4);
}

.menu-button:active {
	filter: grayscale();
}

.menu-button p {
	color: white;

	font-size: 50px;
	text-align: center;

	padding-top: 10px;
}

#new-game {
	bottom: 5%;
	left: 20%;
}

#load-game {
	bottom: 5%;
	right: 20%;
}

/* --- ENCOUNTERS --- */

#information-panel {
	background-color: black;

	color: white;
	font-family: cyberpunk-waifus;
	
	box-sizing: border-box;

	padding-left: 1%;
	padding-right: 1%;

	width: 22.9%;
	height: 66%;

	position: absolute;

	right: 0px;

	border: 2px solid white;
}

.scrolling-window {
	border: 2px solid white;

	height: 20%;

	margin-top: -5%;

	overflow-y: scroll;
}

#stats-window {
	border: 2px dotted white;

	height: 20%;

	display:flex;
	flex-wrap: wrap;

	margin-top: -5%;
}

.stat {
	width: 48%;

	padding-left: 2%;
	padding-top: 1%;
}

.stat a {
	vertical-align: text-top;
}

#status-bar {
	display: flex;

	justify-content: space-between;
}

.item {
	display: flex;

	justify-content: space-between;

	padding: 2%;

	border-bottom: solid 1px white;
}

.item-name {
	margin: 0px;
}

.item-stats {
	margin: 0px;
}

.item-stat {
	margin: 0px;

	text-align: right;
}

#tooltip {
	position: absolute;

	border: solid 1px white;

	padding: 4px;

	background-color: black;
	color: white;
	font-family: cyberpunk-waifus;
}

#main-text-window {
	background-color: black;

	box-sizing: border-box;

	color: white;
	font-family: cyberpunk-waifus;
	font-size: x-large;

	width: 100%;
	height: 35%;

	padding: 20px;


	border: 2px solid white;

	position: absolute;

	bottom: 0;
}

#text-area {
	width: 75.5%;
	height: 84%;
	
	padding-right: 15px;

	position: absolute;

	border-right: 2px solid white;

	cursor: pointer;
}

#objectives {
	padding-top: 5%;

	width: 75.5%;

	position: absolute;
}

#choice-buttons {
	position: absolute;

	width: 20%;
	height: 84%;

	right: 20px;

	padding-left: 5px;
	padding-right: 5px;
}

.choice-button {
	border: 1px solid white;

	font-size: large;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 18.16%;

	padding: 5px;
	margin-bottom: 5px;

	cursor: pointer;
}

.choice-button:hover {
	color: black;

	background-color: white;
}

.choice-button-disabled {
	background-color: black;
	color: black;

	border: solid 1px black;

	cursor: default;
}

.choice-button-disabled:hover {
	color: black;
	background-color: black;
}

/* --- TEXT TAGS --- */
.objective {
	color: rgb(0, 149, 255);
}

.secondary-objective {
	color: rgb(119, 0, 255);
}

/* --- MAP PAGE --- */
.map-button {
	position: absolute;
	cursor: pointer;

	background-color: rgba(255, 0, 0, 0.5);
}