/* Cyberpunk Waifus by Isaac B, Free for personal use */
@font-face {
	font-family: cyberpunk-waifus;
	src: url(fonts/cyberpunk_waifus.ttf);
}

body {
	background-color: black;
}

#stage {
	background-color: hsl(0, 0%, 9%);

	width: 1500px;
	height: 800px;

	margin: auto;
	margin-top: 5vh;

	position: relative;
}

#fade {
	position: absolute;

	width: 100%;
	height: 100%;

	background-color: black;

	display: none;
}

/* --- MENU PAGE --- */

#title {
	position: absolute;

	width: 50%;
	left: 24%;
}

.menu-button {
	position: absolute;

	height: 25%;
	width: 25%;

	background-image: url(images/menu-button.png);
	background-size: contain;
	background-repeat: no-repeat;

	cursor: pointer;
}

.menu-button:hover {
	filter: brightness(4);
}

.menu-button:active {
	filter: grayscale();
}

.menu-button p {
	color: white;

	font-size: 50px;
	text-align: center;

	padding-top: 10px;
}

#new-game {
	bottom: 5%;
	left: 20%;
}

#load-game {
	bottom: 5%;
	right: 20%;
}

/* --- ENCOUNTERS --- */

#main-text-window {
	background-color: black;

	box-sizing: border-box;

	color: white;
	font-family: cyberpunk-waifus;
	font-size: x-large;

	width: 100%;
	height: 35%;

	padding: 20px;


	border: 2px solid white;

	position: absolute;

	bottom: 0;
}

#text-area {
	width: 75.5%;
	height: 84%;
	
	padding-right: 5px;

	position: absolute;

	border-right: 2px solid white;

	cursor: pointer;
}

#choice-buttons {
	position: absolute;

	width: 20%;
	height: 84%;

	right: 20px;

	padding-left: 5px;
	padding-right: 5px;
}

.choice-button {
	border: 1px solid white;

	font-size: large;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	height: 18.16%;

	padding: 5px;
	margin-bottom: 5px;

	cursor: pointer;
}

.choice-button:hover {
	color: black;

	background-color: white;
}

.choice-button-disabled {
	background-color: white;
	cursor: default;
}

.choice-button-disabled:hover {
	color: white;
}